OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_API_KEY=ollama
OLLAMA_MODEL=llama3.1
# OLLAMA_MODEL=qwen2.5:14b
# OLLAMA_MODEL=qwen2.5vl:7b
OLLAMA_EMBED_MODEL=nomic-embed-text
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB=mini_agent
MONGODB_COLLECTION=embeddings
MONGODB_MEMORY_COLLECTION=memories
MONGODB_CHAT_COLLECTION=chat_logs